<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
                      <!-- Fixed Add Button -->
          <a href="/survey-list/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a survey</a>
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-2">Survey</th>
                    <th class="text-center col-4">Date Added</th>
                    <th class="text-center col-2">Edit</th>
                    <th class="text-center col-2">Delete</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= SurveyList[count].authorName %></td>
                        <td class="text-center col-2"><%= SurveyList[count].surveyName %></td>
                        <td class="text-center col-4"><%= SurveyList[count].authorPubDate %></td>
                        <td class="text-center">
                        <a href="/survey-list/<%= SurveyList[count]._id %>" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>
                        </td>
                        <td class="text-center">
                        <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger"><i class="fa fa-remove"></i>Delete</a>
                         </td>

                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





